<footer class="footer fondo_footer">
<div class="pusher">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-sm-6 copyright">
        <%= render_footer_links %>
        <% link_to I18n.t("navbar.admin"), pwb.admin_with_locale_path(locale: locale)  %>
      </div>
      <div class="col-sm-6">
        <p  style="float: right;">iHomeiWorld.com LLC</p>
      </div>
    </div>
  </div>
</div>
</footer>